## 作成した特徴量を使ってモデルを学習するぞい

In [9]:
from sklearn.ensemble import RandomForestClassifier
import pandas as pd

In [10]:
TRAIN = pd.read_csv("data/preprocessed_train.csv", index_col=None, header=0).set_index("PassengerId")
TEST = pd.read_csv("data/preprocessed_test.csv", index_col=None, header=0).set_index("PassengerId")
display(TRAIN)
display(TEST)

             IntSex  Pclass  Under10YearsOld  IsPair  Parch  Survived
PassengerId
1                 0       3                0       1      0         0
2                 1       1                0       1      0         1
3                 1       3                0       0      0         1
4                 1       1                0       1      0         1
5                 0       3                0       0      0         0
...             ...     ...              ...     ...    ...       ...
887               0       2                0       0      0         0
888               1       1                0       0      0         1
889               1       3                0       1      2         0
890               0       1                0       0      0         1
891               0       3                0       0      0         0

[891 rows x 6 columns]

             IntSex  Pclass  Under10YearsOld  IsPair  Parch
PassengerId
892               0       3                0       0      0
893               1       3                0       1      0
894               0       2                0       0      0
895               0       3                0       0      0
896               1       3                0       1      1
...             ...     ...              ...     ...    ...
1305              0       3                0       0      0
1306              1       1                0       0      0
1307              0       3                0       0      0
1308              0       3                0       0      0
1309              0       3                0       1      1

[418 rows x 5 columns]

In [11]:
randomforest = RandomForestClassifier()
randomforest.fit(TRAIN.drop("Survived", axis=1), TRAIN.Survived)

RandomForestClassifier()

In [12]:
display( randomforest.feature_importances_)
display(randomforest.score(TRAIN.drop("Survived", axis=1), TRAIN.Survived))

array([0.57422504, 0.23508044, 0.06543861, 0.04504883, 0.08020707])

0.8282828282828283

In [16]:
submit = pd.DataFrame({
    "PassengerId": TEST.index,
    "Survived": randomforest.predict(TEST)
})
display(submit)
submit.to_csv("data/submit.csv", index=None, header=True)

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]